scrape_configs:
  - job_name: cadvisor
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets:
          - 'cadvisor:8080'

  - job_name: hornet
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets:
          - 'hornet:9311'
  
  - job_name: traefik
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets:
          - 'traefik:8080'