name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag_prefix: ['iota', 'shimmer', 'testnet', 'iota-testnet']
    steps:
      - name: Check out code into the Go module directory
        if: startsWith(github.ref_name, matrix.tag_prefix)
        uses: actions/checkout@v4

      - name: Find and Replace VERSION
        if: startsWith(github.ref_name, matrix.tag_prefix)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "__VERSION__"
          replace: ${{ github.ref_name }}
          regex: false

      - name: Create node-docker-setup_${{ matrix.tag_prefix }}.tar.gz
        if: startsWith(github.ref_name, matrix.tag_prefix)
        uses: ihiroky/archive-action@v1
        with:
          root_dir: ${{ matrix.tag_prefix }}
          file_path: node-docker-setup_${{ matrix.tag_prefix }}.tar.gz

      - name: Upload node-docker-setup_${{ matrix.tag_prefix }}.tar.gz file
        if: startsWith(github.ref_name, matrix.tag_prefix)
        uses: Shopify/upload-to-release@v2.0.0
        with:
          name: node-docker-setup_${{ github.ref_name }}.tar.gz
          path: node-docker-setup_${{ matrix.tag_prefix }}.tar.gz
          repo-token: ${{ secrets.GITHUB_TOKEN }}
